1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

*
'hello'
-87.8
- 
/ 
+	
6 

Ans:

*   Values: "hello", -87.8, 6. 
*   Expression:  *, -, /,+

2.What is the difference between string and variable?

Ans: Variable is used to store data in program

String is sequence of one or more character that can be either a constant or variable.

3.Describe three different data types.

Ans: Three different types of data types are: 

1. int: We can use to represent whole number or integers. ex: a=10
2.  Float: We can use to represent the decimal/floating point numbers. ex b=10.5
3. Bool: We can use to represnt logical values(Only allowed values are True or False). c=True

4. What is an expression made up of? What do all expressions do?

Ans: Expression is made of opearator and operand.Ex=x=x+10. The expression in Python produces some value or result after being interpreted by the Python interprete.

5.This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Ans: An expression is sequence of values, variables, operator and function calls that produces or return a result values.
ex: x=5

A Statement is the smallest executable unit of code that has an effect, like creating a variable or displaying a value.

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

Ans: bacon contain 23, after running both the statement.

In [2]:
bacon = 22
print(bacon)

22

In [3]:
bacon + 1

23

7. What should the values of the following two terms be?
'spam'+'spamspam'
'spam'*3

    1.   'spam'+'spamspam'
    2.  'spam'*3

Ans: Output of both the statement are same i.e 'spamspamspam'

In [4]:
'spam'+'spamspam'

'spamspamspam'

In [5]:
'spam'*3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

  Ans: variable should start with letter or word, but it cannot start with integer. That's why 100 cannot be used as variable

9.What three functions can be used to get the integer, floating-point number, or string version of a value?
Ans:

*   int() can be used to get integer value
*   float() can be used to get floating-point number
*   str() can be used to get string value

10. Why does this expression cause an error? How can you fix it?
'I have eaten'+99+'burritos'

Ans: cannot concatenate int and str, by converting int to string we can fix it. only string be be concatenated
Correct expression: 'I have eaten'+'99'+'burritos'