*Q1*. Find the largest number from the given list, use for loop.

In [ ]:
numbers = [12, 75, 150, 180, 145, 525, 50]
max=numbers[0]
for i in range(1,len(numbers)):
  if numbers[i]>max:
    max=numbers[i]
print("largest number is:",max)

largest number is: 525

Q2. Print all the even number between (1, 12).

In [ ]:
for i in range(0,13):
  if i%2==0:
    print(i)

0
2
4
6
8
10
12

Q3. Calculate the sum of all numbers from 1 to a given number

In [24]:
n=int(input("Enter the number:"))
sum=0
for i in range(1,n+1):
  sum=sum+i
print(sum)

Enter the number:10
55

Q4. Write a program to display only those numbers from a list that satisfy the following conditions

The number must be divisible by five

If the number is greater than 150, then skip it and move to the next number

If the number is greater than 500, then stop the loop

In [45]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for i in range(0,7):
  if numbers[i]%5==0 and numbers[i]>150:
    continue
    if numbers[i]>500:
      break
  print(numbers[i])

12
75
150
145
50

Q5. Print the given list in reverse order.

In [26]:
list1 = [10, 20, 30, 40, 50]
print(list1[::-1])

[50, 40, 30, 20, 10]